<ActionBar title="Log In" class="action-bar"></ActionBar>

<GridLayout rows=" auto, auto, auto, auto" columns="*" class="form h-full">

    <StackLayout orientation="horizontal" row="0" col="0" class="input-group">
        <Label text="&#xf007;" class="fa"></Label>
        <TextField hint="Username" [(ngModel)]="uname" class="input" autocapitalizationType="none"></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal" row="1" col="0" class="input-group">
        <Label text="&#xf023;" class="fa"></Label>
        <TextField hint="Password" [(ngModel)]="password" secure="true" class="input"></TextField>
    </StackLayout>
    <Label [text]="message" *ngIf="message != null" row="2" col="0" class="text-danger text-center" textWrap="true"></Label>

    <Button text="Log In" [enabled]="!logginIn" (tap)="onLoginSubmit()" row="3" col="0" class="btn btn-primary btn-rounded-sm"></Button>
    <ActivityIndicator width="50" height="50" [busy]="logginIn" class="activity-indicator" row="0" rowSpan="2"></ActivityIndicator>

</GridLayout>